:root {
    --black: #000;
    --carbon: #212;
    --sky_night: #001a57;
}

* {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
}

.text-white {
    color: white;
}

/* Header */
header{
    background-color: transparent;
    border-bottom: 1px solid black;
    display: flex;
    flex-flow: column;
    height: 10vh;
    justify-content: center;
    position: sticky;
    z-index: 3;
    top: 0%;
}
header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
header > div a {
    color: inherit;
    margin: 0 6px;
}
/* Cover */
#cover {
    *background-color: var(--sky_night);
    height: 90vh;
}

/* Section */
section {
    background-color: white;
    height: 100vh;
}

@media screen and (min-width: 550px) {
    * {
        font-size: 1rem;
    }
}